*.pyc
*.output
*.score
*.log
aligner/baseline-de-upload.10k.a
aligner/baseline-de-upload.a
aligner/default-de-upload.a
aligner/golang.align
aligner/golang.time
aligner/ibm1
aligner/ibm1.a
aligner/log
aligner/out
aligner/python.align
aligner/python.time
chunker/answer/baseline.model
chunker/answer/baseline.output.txt
chunker/default.output.txt
decoder/all.scores
decoder/baseline-s10-d4-k5.score
decoder/baseline-s1000-d8-k20.score
decoder/default-s100-k20.score
decoder/default.score
decoder/example
reranker/baseline.output
reranker/baseline.weights
reranker/default.output
reranker/default.weights
reranker/empty.output
reranker/empty.weights
reranker/inf.output
reranker/inf.weights
segmenter/baseline.segment.output
segmenter/default.segment.output
segmenter/norvig.segment.output
segmenter/answer/segment.py
segmenter/answer/norvig-segment.py
chunker/answer/chunk.py
aligner/answer/align.py
decoder/answer/decode.py

